$white: #fff;
$black: #000;

$background: #faeee7;
$heading: #33272a;
$paragraph: #33272a;
$primary: #ff8ba7;
$secondary: #ffc6c7;
$tertiary: #c3f0ca;

$font-family-sans-serif: 'Poppins', sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;

$font-size-base: 1.6rem !default;
$font-size-heading: 3.2rem !default;