:root {
  --time: 0.707s;
}

.container {
  padding: 0 5rem 5rem;
}

#landing {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem 5rem 5rem;
}

.exp {
  border-top: 1px solid black;
  > div {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

.howiwork {
  background-image: url("../images/ttart.jpg");
  background-size: cover;
  .hiwHeading {
    background: black;
    padding: 2rem 1rem;
    writing-mode: vertical-rl;
  }
  .points {
    border-top: 1px solid white;
    border-left: 1px solid white;
    > div {
      background-color: rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid white;
      border-right: 1px solid white;
    }
    h2 {
      margin-bottom: 1rem;
    }
  }
}

.p-card:hover {
  .p-face {
    transform: scale(0.9);
  }
}

.p-face {
  width: 100%;
  height: 25rem;
}

.p-details {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact {
  img {
    width: 30%;
    height: auto;
  }
}

.contactForm {
  input,
  textarea {
    margin-bottom: 1rem;
  }
  button:hover {
    background-color: #e45858;
  }
}

// ================================================================= //

.card {
  perspective: 40rem;
  transition: z-index, transform calc(var(--time) / 4);
  transition-delay: var(--time), 0s;
  z-index: 0;
  width: 100%;
  margin: 0 auto;

  &:hover {
    transition-delay: 0s;
    z-index: 1;
  }

  &:active {
    transform: scale(0.975);
  }
}

.card-body {
  display: flex;
  transform-style: preserve-3d;
  transition: var(--time) transform;

  .card:hover &,
  .card:focus & {
    transform: rotateX(-180deg);
  }
}

.card-front,
.card-back {
  backface-visibility: hidden;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 1.5rem;
}

.card-front {
  justify-content: center;
}

.card-back {
  align-items: center;
  transform: rotateX(-180deg) translate(-100%, 0);
}

// ================================================================= //

.ecard {
  perspective: 40rem;
  transition: z-index, transform calc(var(--time) / 4);
  transition-delay: var(--time), 0s;
  z-index: 0;
  width: 100%;
  cursor: pointer;
  height: 25rem;

  &.flipped {
    transition-delay: 0s;
    z-index: 1;
  }

  &:active {
    transform: scale(0.975);
  }
}

.ecard-body {
  display: flex;
  transform-style: preserve-3d;
  transition: var(--time) transform;

  .ecard.flipped &,
  .ecard:focus & {
    transform: rotateY(-180deg);
  }
}

.ecard-front,
.ecard-back {
  backface-visibility: hidden;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1.5rem;
}

.ecard-back {
  align-items: center;
  overflow: scroll;
  transform: rotateY(-180deg) translate(100%, 0);
}